* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font:400 1rem 'Roboto', sans-serif;
}
li {
    list-style: none;
}
p {
    margin: 0;
}
textarea {
    min-height: 400px;
}
.bg-unread {
    background-color: gray;
}
.list-item {
    display: flex;
    border: 1px solid #dfdfdf;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.6rem;
    cursor: pointer;
}
.list-item p {
    margin: 0;
    display: flex;
    align-items: center;
}
.list-item strong {
    padding-left: .4rem;
}

/*=== MAIL CONTENT VIEW =====*/
.mail-content {
    margin: 1.6rem 1rem;
}
.mail-content header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.6rem;
}
.mail-content header h2{
    margin-bottom: 1.6rem;
}
.mail-content header span{
   font-size: .8rem;
}
.mail-content header .time-mail {
    display: flex;
    align-items: end;
    padding-bottom: 22px;
    font-size: .9rem;
}
.mail-content main {
    margin-bottom: 1.6rem;
}
.mail-content main #archive {
    display: flex;
    justify-content: right;
    cursor: pointer;
}
.mail-content main #archive iconify-icon{
    cursor: pointer;
    font-size: 1.6rem;
}